<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Company Form</title>
</head>

<body>
	<h3>Company Form</h3>
	<form action="#" th:action="@{/company/save}" th:object="${company}" method="POST">
		<input type="hidden" th:field="*{companyCode}"/>
		
		<input type="text" th:field="*{companyName}" placeholder="Company Name"
			class="form-control mb-4 col-4"/>
		
		<input type="text" th:field="*{companyAddress}" placeholder="Company Address"
			class="form-control mb-4 col-4"/>
		
		<button type="submit"
			class="btn btn-info col-2">Save</button>
	</form>
</body>
<a th:href="@{/company/list}">Back To Company List</a>
</html>