<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>My Company</title>
</head>

<body>

<div class="container">

	<h3>My Company List</h3>
	<hr>

		<a th:href="@{/company/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
		Add Company 
	</a>
	&nbsp;&nbsp;
	<a th:href="@{/department/list}">Department List</a>&nbsp;&nbsp;
	<a th:href="@{/employees/list}">Employees List</a>&nbsp;&nbsp;
	<P th:text="${response}"/>

	<table>
		<thead>	
			<tr>
				<th>Company Name</th>
				<th>Company Address</th>
				<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempCompany : ${companies}">
				<td th:text="${tempCompany.companyName}" />	
				<td th:text="${tempCompany.companyAddress}" />
				<td>	
					<a th:href="@{/company/showFormForUpdate(companyCode=${tempCompany.companyCode})}" 
						class="btn btn-info btn-sm">
						Update
					</a>
					<a th:href="@{/company/delete(companyCode=${tempCompany.companyCode})}"
						class="btn btn-danger btn-sm" onclick="if(!confirm('Are you sure want to delete this Company Details?')) return false">
							Delete
						</a>
				</td>	
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



