<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Employees Form</title>
</head>

<body>
	<h3>Employees Form</h3>
	<form action="#" th:action="@{/employees/save}" th:object="${employee}" method="POST">
		<input type="hidden" th:field="*{employeeId}"/>
		
		<input type="text" th:field="*{employeeName}" placeholder="employee Name"
			class="form-control mb-4 col-4"/>
		
		<input type="text" th:field="*{age}" placeholder="Age"
			class="form-control mb-4 col-4"/>
			
		<select th:field="*{gender}" class="form-control mb-4 col-4">
		    <option th:value="'M'" th:text="Male"></option>
		    <option th:value="'F'" th:text="Female"></option>
		</select >
			
		<input type="date" th:field="*{dateOfJoin}" placeholder="Date of Join"
			class="form-control mb-4 col-4"/>
		
		<input type="text" th:field="*{department.company.companyCode}" placeholder="Company Code"
			class="form-control mb-4 col-4"/>
			
		<input type="text" th:field="*{department.departmentCode}" placeholder="Department Code"
			class="form-control mb-4 col-4"/>
		
		<button type="submit"
			class="btn btn-info col-2">Save</button>
	</form>
</body>
<a th:href="@{/company/list}">Back To Company List</a>
<a th:href="@{/department/list}">Back To Department List</a>
</html>