<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>My Employee</title>
</head>

<body>

<div class="container">

	<h3>My Employees List</h3>
	<hr>

	<a th:href="@{/employees/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
		Add Employee 
	</a>
	&nbsp;&nbsp;
	<a th:href="@{/company/list}">Company List</a>&nbsp;&nbsp;
	<a th:href="@{/department/list}">Department List</a>&nbsp;&nbsp;
	
	<P th:text="${response}"/>

	<table>
		<thead>	
			<tr>
				<th>Employee Name</th>
				<th>date of Joining</th>
				<th>Department Name</th>
				<th>Company Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempEmployee : ${employees}">
				<td th:text="${tempEmployee.employeeName}" />
				<td th:text="${tempEmployee.dateOfJoin}" />
				<td th:text="${tempEmployee.department.departmentName}" />	
				<td th:text="${tempEmployee.department.company.companyName}" />
				<td>	
					<a th:href="@{/employees/showFormForUpdate(employeeCode=${tempEmployee.employeeId})}" 
						class="btn btn-info btn-sm">
						Update
					</a>
					<a th:href="@{/employees/delete(employeeCode=${tempEmployee.employeeId})}"
						class="btn btn-danger btn-sm" onclick="if(!confirm('Are you sure want to delete this Employee Details?')) return false">
							Delete
						</a>
				</td>	
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>
