<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>My Department</title>
</head>

<body>

<div class="container">

	<h3>My Department List</h3>
	<hr>

	<a th:href="@{/department/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
		Add Department 
	</a>
	&nbsp;&nbsp;
	<a th:href="@{/company/list}">Company List</a>&nbsp;&nbsp;
	<a th:href="@{/employees/list}">Employees List</a>&nbsp;&nbsp;
	<P th:text="${response}"/>

	<table>
		<thead>	
			<tr>
				<th>Department Name</th>
				<th>Company Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempDepartments : ${departments}">
				<td th:text="${tempDepartments.departmentName}" />	
				<td th:text="${tempDepartments.company.companyName}" />
				<td>	
					<a th:href="@{/department/showFormForUpdate(departmentCode=${tempDepartments.departmentCode})}" 
						class="btn btn-info btn-sm">
						Update
					</a>
					<a th:href="@{/department/delete(departmentCode=${tempDepartments.departmentCode})}"
						class="btn btn-danger btn-sm" onclick="if(!confirm('Are you sure want to delete this Department Details?')) return false">
							Delete
						</a>
				</td>	
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>
